$text-color: #724b3d;
$light-color: #b38261;
$text-sub-color: #666;
$light-bg-color: #eee;
$red-color: #e2321b;
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
.no-hover {
  border: none;
  &:hover {
    & td {
      background-color: initial !important;
    }
  }
}

:deep(.el-button) {
  padding: 12px 40px;
  background-color: $text-color;
  border: none;
  color: #fff;
}
